@tailwind base;
@tailwind components;
@tailwind utilities;
/* Personalizar el estilo cuando el navegador autocompleta */
input:-webkit-autofill {
	background-color: #fffdf8 !important; /* Color de fondo personalizado */
	color: black !important; /* Color del texto */
	transition: background-color 5000s ease-in-out 0s; /* Evita parpadeos */
}

/* Para otros navegadores (no WebKit) */
input:-moz-autofill {
	background-color: #fffdf8 !important;
	color: black !important;
}

/* From Uiverse.io by zymantas-katinas */
.button {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	outline: none;
	cursor: pointer;
	font-family: sans-serif;
}

/* Shadow layer */
.button .shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25);
	/* border-radius: 8px; */
	transform: translateY(2px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

/* Edge layer */
.button .edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* border-radius: 8px; */
	background: linear-gradient(
		to left,
		rgba(0, 0, 0, 1) 0%,
		/* Negro puro */ rgba(20, 20, 20, 0.9) 20%,
		/* Gris casi negro */ rgba(40, 40, 40, 0.8) 80%,
		/* Gris oscuro */ rgba(0, 0, 0, 1) 100% /* Negro puro */
	);
}

/* Front layer */
.button .front {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 28px;

	color: white;
	background: black;
	/* border-radius: 8px; */
	transform: translateY(-4px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

/* Hover and active states */
.button:hover .shadow {
	transform: translateY(4px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button:hover .front {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button:active .shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.button:active .front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

/* Disable text selection */
.button .front span {
	user-select: none;
}
